<div class="trans85 bord-rad-5 bg-cs pad-5-25 wid-55 marg-lr center">
	<span class="title"> My Groups </span>
	<p></p>
	<% if @groups %>
		<% @groups.each do |group| %>
			<a href="groups/<%= group.id %>"><%= group.name %></a>
			</br>
		<% end %>
	<% end %>
	<p></p>
	<%= link_to 'Create New Group', new_group_path, class: "btn btn-primary btn-btm-marg", id: "create-group-button" %>
</div>
<div class="currentSchedule trans85 bord-rad-5 bg-cs wid-55 marg-lr center">
	<span class="title marg-l-25">Available Times:</span>
	<ul>
		<% sorted_hours.each do |day| %>
			<% if in_past?(day) %>
				<% day.destroy %>
			<% else %>
	   		<%= thedate(day).strftime("%a %b %d at %l%P") %>
	   		<%= link_to "Delete", hour_path(day), method: :delete, data: {confirm: 'Confirm Delete?'} %>
	 			</br>
			<% end %>
  	<% end %>
  </ul>
</div>

<div class="trans85 bord-rad-5 bg-cs pad-5-25 wid-55 marg-lr">
  <%= form_for :hour, :url => hours_path  do |f| %>
  <%= f.submit "Create Schedule", class: "btn btn-primary btn-marg-5" %>
  </br>
  <% mytime = Time.now %>
  <table class="marg-lr">
  <tr>
    <% 7.times do %>
    <td class="days">
      <table class="table-hover">
        <tr>
          <th class="dateheader">
            <% mt = mytime.asctime.gsub(/\d*[:]\d*[:]\d*\s\d*/,"").split(" ") %>
            <p>
              <% mt.each do |word| %>
              <%= word %><br>
              <% end %>
            </p>
          </th>
        </tr>
        <tr>
          <td>
            <label><input class="hour" type="checkbox" name="<%= mytime.day %>[]" value="6">&nbsp;6 am</label>
          </td>
        </tr>
        <tr>
          <td>
            <label><input class="hour" type="checkbox" name="<%= mytime.day %>[]" value="7">&nbsp;7 am</label>
          </td>
        </tr>
        <tr>
          <td>
            <label><input class="hour" type="checkbox" name="<%= mytime.day %>[]" value="8">&nbsp;8 am</label>
          </td>
        </tr>
        <tr>
          <td>
            <label><input class="hour" type="checkbox" name="<%= mytime.day %>[]" value="9">&nbsp;9 am</label>
          </td>
        </tr>
        <tr>
          <td>
            <label><input class="hour" type="checkbox" name="<%= mytime.day %>[]" value="10">&nbsp;10 am</label>
          </td>
        </tr>
        <tr>
          <td>
            <label><input class="hour" type="checkbox" name="<%= mytime.day %>[]" value="11">&nbsp;11 am</label>
          </td>
        </tr>
        <tr>
          <td>
            <label><input class="hour" type="checkbox" name="<%= mytime.day %>[]" value="12">&nbsp;12 pm</label>
          </td>
        </tr>
        <tr>
          <td>
            <label><input class="hour" type="checkbox" name="<%= mytime.day %>[]" value="13">&nbsp;1 pm</label>
          </td>
        </tr>
        <tr>
          <td>
            <label><input class="hour" type="checkbox" name="<%= mytime.day %>[]" value="14">&nbsp;2 pm</label>
          </td>
        </tr>
        <tr>
          <td>
            <label><input class="hour" type="checkbox" name="<%= mytime.day %>[]" value="15">&nbsp;3 pm</label>
          </td>
        </tr>
        <tr>
          <td>
            <label><input class="hour" type="checkbox" name="<%= mytime.day %>[]" value="16">&nbsp;4 pm</label>
          </td>
        </tr>
        <tr>
          <td>
            <label><input class="hour" type="checkbox" name="<%= mytime.day %>[]" value="17">&nbsp;5 pm</label>
          </td>
        </tr>
        <tr>
          <td>
            <label><input class="hour" type="checkbox" name="<%= mytime.day %>[]" value="18">&nbsp;6 pm</label>
          </td>
        </tr>
        <tr>
          <td>
            <label><input class="hour" type="checkbox" name="<%= mytime.day %>[]" value="19">&nbsp;7 pm</label>
          </td>
        </tr>
        <tr>
          <td>
            <label><input class="hour" type="checkbox" name="<%= mytime.day %>[]" value="20">&nbsp;8 pm</label>
          </td>
        </tr>
        <tr>
          <td>
            <label><input class="hour" type="checkbox" name="<%= mytime.day %>[]" value="21">&nbsp;9 pm</label>
          </td>
        </tr>
        <tr>
          <td>
            <label><input class="hour" type="checkbox" name="<%= mytime.day %>[]" value="22">&nbsp;10 pm</label>
          </td>
        </tr>
        <tr>
          <td>
            <label><input class="hour" type="checkbox" name="<%= mytime.day %>[]" value="23">&nbsp;11 pm</label>
          </td>
        </tr>
        <tr>
          <td>
            <label><input class="hour" type="checkbox" name="<%= mytime.day %>[]" value="24">&nbsp;12 am</label>
          </td>
        </tr>
        <% mytime += 1.day %>
      </table>
    </td>
    <% end %>
  </tr>
  <br>
  <% end %>
</div>
