<%= @group.name %>
</br>
<%= f.submit "Add Topic" %>
</br>
<%= form_for [@group, @topic] do |f| %>
	<%= link_to 'Find Partner', group_potential_pair_path(@group, @topic) %>
	<% @topics.each do |topic| %>
		<button>Select</button>
		<%= topic.title %>
	<% end %>
<% end %>