<%= @group.name %>
</br>
</br>
<div>
<%= form_tag(controller: "user_selected_topics", action: "create", method: "post") %>
	<table>
			<% @topics.each do |topic| %>
		<tr>
			<td><input type="checkbox" name="topic[<%= topic.id %>]" value="<%= topic.id %>"></td>
			<td><%= topic.title %></td>
			<% if current_user.id == @group.admin_id %>
			<td>
				<%= link_to "Delete Topic", group_topic_path(@group.id, topic.id) %>
			</td>
			<% end %>
		</tr>
	<% end %>
	</table>
	<input type="hidden" name="group" value="<%= @group.id %>">
	<input type="submit" name="submit" value="Find Pairs" >
	<br>
</div>
	<div>
		<br>
		<%= link_to "Add New Topic", new_group_topic_path(@group.id) %>
	</div>
