<div class="trans85 bord-rad-5 bg-cs pad-5-25 wid-55 marg-lr center">
  <h2 class="outlined-text"><b><%= @group.name %></b></h2>
  <% if current_user.id == @group.admin_id %>
  	<h4><b>Share Link:</b></h4><h4 class="outlined-text" id="share-link"><%= @group.link %></h4>
  	<button class="btn btn-primary" onclick="copyToClipboard('share-link')">Copy Link</button>
  <% end %>
  </br>
  </br>
  <div>
		<h4><b>Topics</b></h4>
    <%= form_tag(controller: "user_selected_topics", action: "create", method: "post") %>
    <table class="center marg-lr">
      <% @topics.each do |topic| %>
	      <tr>
	        <td>
						<input type="checkbox" name="topic[<%= topic.id %>]" value="<%= topic.id %>">
					</td>
	        <td class="outlined-text">&nbsp;<%= topic.title %>&nbsp;</td>
	        <% if current_user.id == @group.admin_id %>
		        <td>
		          &nbsp;
		          <%= link_to "Delete Topic", group_topic_path(@group.id, topic.id), method: :delete, data: {confirm: 'Delete Topic?'} %>
		        </td>
	        <% end %>
	      </tr>
      <% end %>
    </table>
    <input type="hidden" name="group" value="<%= @group.id %>">
    <input type="submit" name="submit" value="Find Pairs" class="btn btn-primary btn-marg-5" >
    <br>
  </div>
  <div>
    <%= link_to "Add New Topic", new_group_topic_path(@group.id), class: "btn btn-primary btn-marg-5" %>
  </div>
</div>
